:root{
    --principal: red;
    --secundario: black;
    --terciario: white;
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Rubik Maze', cursive;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
    width: 100%;
    max-width: 100%;
}

header img#hero{
    width: 25%;
    border-radius: 50%;
    margin: 10px 0px 10px 0px;
}

header section{
    text-align: center;
    color: white;
    font-family: 'Rubik Maze', cursive;
    max-width: 100%;
}

header section h1#hero{
    font-size: 100px;
}

header section h4{
    font-size: 25px;
}

nav{
    background-color: black;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

nav ul li:hover{
    background-color: rgba(255, 0, 0, 0.233);  
    border-bottom: 3px solid white;
}

nav ul li a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-family: 'Rubik Maze', cursive;
    width: 100%;
    height: 100%;
}

nav ul li a:hover{
    color: red;
}

main{
    width: 100%;
    height: 100%;
    background-color: white
}

main section#titulo h1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 30px;
}

main section#serviços p{
    text-align: left;
    font-weight: 900;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    margin-left: 5px;
}

footer{
    position:fixed;
    justify-content: center;
    display: flex;
    align-items: center;
    bottom: 0px;
}

footer h6#hero{
    font-weight: 650;
}

@media screen and (max-width:850px)
{
    header section h1#hero{
        font-size: 75px;
    }
}

@media screen and (max-width:680px)
{
    header{
        display: flex;
        align-items: column;
        justify-content: space-evenly;
        background-color: red;
        width: 100%;
        max-width: 100%;
    }   

    header section h1#hero{
        font-size: 9vw;
    }

    header section h4{
        font-size: 2vw;
    }


}

@media screen and (max-width:450px)
{
    nav ul{
        display: block;
        align-items: column;
        justify-content: column;
        list-style: none;
    }

    nav ul li{
        width: 100%;
        display: flex;
        align-items: column;
        justify-content: column;
        height: 40px;
    }
}

@media screen and (max-width:340px)
{
    header{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: red;
        width: 100%;
        max-width: 20000px;
    }
    
    main section#serviços p{
        text-align: left;
        font-weight: 900;
        font-size: 15px;
        color: black;
        margin-bottom: 10px;
        margin-left: 5px;
    }
}