*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
}

img#hero{
    width: 400px;
    border-radius: 50%;
    margin: 10px 0px 10px 0px;
}

h1#hero{
    color: white;
    font-size: 80px;
    font-family: 'Rubik Maze', cursive;
}

nav{
    background-color: black;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li a{
    font-size: 30px;
    font-family: 'Rubik Maze', cursive;
    text-decoration: none;
    color: white;
}

li a:hover{
    color: red;
}