*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
}

header img#hero{
    width: 400px;
    border-radius: 50%;
    margin: 10px 0px 10px 0px;
}

header h1#hero{
    color: white;
    font-size: 80px;
    font-family: 'Rubik Maze', cursive;
}

nav{
    background-color: black;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:hover{
    background-color: rgba(255, 0, 0, 0.233);    
}

nav ul li a{
    font-size: 30px;
    font-family: 'Rubik Maze', cursive;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: red;
}